
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Potta+One&display=swap');
// font-family: 'Lobster', cursive;
// font-family: 'Potta One', cursive;
//common css
h1,h2,h3,h4,h5,h6,img,a,ul,li,*{
    margin: 0;
    outline: 0;
    padding: 0;
}

a,a:hover{
    text-decoration: none;
}

ul,li{
    list-style: none;
    padding: 0;
    outline: 0;
    margin: 0;
}

//header-section starts
.header_section{
    background: #733DD9;
    height: 300px;
    nav{
        position: fixed;
        width: 100%;
        z-index: 2;
        background: #733DD9;
        // background: linear-gradient(to right,rgb(216, 238, 20),rgb(31, 2, 54));
        a{
            font-family: 'Potta One', cursive;
            font-size: 1.5rem;   
        }
    }
    .mynavbar{
        margin-left: auto;
        margin-right: auto;
        a{
            font-family: 'Potta One', cursive;
            margin: 0px 20px;
            font-size: 1.4rem;
        }
    }
    .trust_us{
        height: 30px;
        background:#1BB934;
    }
}
//header-section ends


//cuotation starts
.create_quotation{
    background: #F3F5F7;
    height: 300px;
    .trust_us{
        background:#1BB934;
        height: 40px;
    }
    .create{
        width: 100%;
        display: inline;
        margin-left: 2%;     
           
        p{
            display: inline;
            margin-left: 10px;
        }
        .round_circle{
            width: 50px;
            height: 50px;
            padding: 4px;
            border-radius: 50%;            
            background: #fff;
            border: 1px solid #000;
            margin-left: auto;
            margin-right: auto;
            display: inline;
        }
    }
    .greater_than{
        display: inline;
        margin-left: 1%;
        height: 50%;
    }

    // form box starts
    .form_box{
        width: 60%;
        background: #fff;
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
        box-shadow: 10px 10px 30px rgb(77, 70, 70);
        // display: flex;
        // justify-content: center;
        .heading{
            width: 100%;
            display: block;
            input[type="text"]{
                height: 50px;
                font-size: 30px;
                border: none;
                border-bottom: dotted #733DD9;
                text-align: center;
                margin-bottom: 30px;
                }
        }
        
        .first_part{
            .row{
                padding: 20px;
                // background: #900;
            }
            width: 100%;
            display: block;
           .left_input{
            //    background: #900;
            input{
                border: none;
                border-bottom: dotted #733DD9;
            }
           }
           .right_input{
            input{
                border: none;
                border-bottom:1px solid #733DD9;
            }
           }
           button{
               height: 110px;
               span i{
                   font-size: 40px;
               }
           }
        }
        //first_part ends

        .second_part{
            
            margin: 20px;
            .row{
                background: #fff;
                margin: 20px;
                .your_details{
                    background: #F7FAFF;
                }
                .client_details{
                    background: #F7FAFF;
                }
                .details_form{
                    input{
                        border: none;
                        width: 100%;
                        border-bottom:1px solid #733DD9;
                    }
                    .divide_part{
                        input{
                            width: 38%;
                        }
                       
                      
                    }
                    .divide_part2{
                        input{
                            width: 49%;
                        }
                       
                      
                    }
                }
            }

        }
        //second part ends

        //third part starts
        .third_part{
            margin: 40px;
        }
        //third part ends

        //fourth part starts
        .fourth_part{
            margin: 30px 30px;
            .highlight{
                background: #733DD9;
                height: 50px; 
                p:nth-child(1){
                    margin-left: 20px;
                    margin-top: 10px;
                    width: 32%;
                    display: inline-block;
                }
                p:nth-child(2){
                    width: 9%;
                    display: inline-block;

                }
                p:nth-child(3){
                    width: 9%;
                    display: inline-block;
                }
                p:nth-child(4){
                    width: 15%;
                    display: inline-block;
                }
                p:nth-child(5){
                    width: 17%;
                    display: inline-block;
                }
                p:nth-child(6){
                    width: 10%;
                    display: inline-block;

                }
            }
            .add_new_item{
                background:#F7FAFF;
                margin-bottom: 20px;
                input{
                    border: none;
                    width: 100%;
                    border-bottom:1px solid #733DD9;
                }
            }
        }
        //fourth part ends

        //fifth part starts
        .fifth_part{
            .total_calculation{
                input{
                    border: none;
                    width: 40%;
                    border-bottom:1px solid #733DD9;
                }
            }
        }
        //fifth part ends

        //sixth part starts
        .sixth_part{
            margin: 30px 30px;
            .terms{
                background: #e2e5eb;
                margin-bottom: 30px;
                input{
                    border: none;
                    width: 95%;
                    border-bottom:1px solid #733DD9;
                }
            }
            .notes_attatchment{
                input{
                    border: none;
                    width: 95%;
                    border-bottom:1px solid #733DD9;
                }
                textarea{
                    background: #F7FAFF;
                }
            }
        }
        //sixth part ends
        .seventh_part{
            margin: 30px 30px;
            background: #e2e5eb;
            input{
                border: none;
                width: 30%;
                border-bottom:1px solid #733DD9;
            }
        }
    }
    //form box ends


}
//cuotation ends

//media-queries
@media(max-width: 1366px) {
    .create_quotation{

    .form_box{
        width: 82%;
    }
  }
}